.stress-headers{
	margin-right: 1em;
}
.form-check-label{
	margin-right: 1em;
}
#danger{
	margin-left: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
}
#takeMeds{
	margin-left: 1em;
	margin-bottom: 1em;
}
.jumbotron{
	margin-bottom: 0;
}
#stressors{
	background-color: #FF606F;
}
#support{
	background-color: #6DFF92;	
}
#positive{
	background-color: #DFEE10;
}
a {
  color: black;
}
#main-banner{
	margin-top: 3em;
}